Django==4.2.3
celery==5.3.1
redis==4.6.0
django-celery-beat==2.5.0
requests==2.32.3
django-cors-headers==4.6.0
djangorestframework==3.15.2
django-filter==24.3
pandas==2.0
yfinance==0.2.49
paramiko==3.5.0
docopt==0.6.2