DJANGO_SETTINGS_MODULE=core.settings
OPEN_WEATHER_MAP_API_KEY=[YOUR_OPEN_WEATHER_MAP_API_KEY]
CELERY_BROKER_URL=redis://localhost:6379
CELERY_RESULT_BACKEND=redis://localhost:6379
PYTHONPATH=/code
ENV=prod
TRUSTED_ORIGIN=
